In [1]:
import time
import pandas as pd
from utils import get_movie_info

df = pd.read_csv('../data/vodclickstream_uk_movies_03.csv')
movie_df = pd.read_csv('../data/movie_data.csv')

In [4]:
len(df)

671736

In [3]:
movie_name = list(movie_df['netflix_title'].values)

In [5]:
df = df[df['title'].isin(movie_name)]

In [6]:
len(df)

661401

In [8]:
df.head()

,id,datetime,duration,title,genres,release_date,movie_id,user_id
0,58773,2017-01-01 01:15:09,0.0,"Angus, Thongs and Perfect Snogging","Comedy, Drama, Romance",2008-07-25,26bd5987e8,1dea19f6fe
1,58774,2017-01-01 13:56:02,0.0,The Curse of Sleeping Beauty,"Fantasy, Horror, Mystery, Thriller",2016-06-02,f26ed2675e,544dcbc510
2,58775,2017-01-01 15:17:47,10530.0,London Has Fallen,"Action, Thriller",2016-03-04,f77e500e7a,7cbcc791bf
3,58776,2017-01-01 16:04:13,49.0,Vendetta,"Action, Drama",2015-06-12,c74aec7673,ebf43c36b6
4,58777,2017-01-01 19:16:37,0.0,The SpongeBob SquarePants Movie,"Animation, Action, Adventure, Comedy, Family, ...",2004-11-19,a80d6fc2aa,a57c992287

In [9]:
df.to_csv('../data/user_record.csv', index=False)

In [68]:
import pandas as pd
import matplotlib.pyplot as plt

In [69]:
df = pd.read_csv('../data/user_record.csv')

In [70]:
value_counts = df['title'].value_counts()

filter_cond = value_counts[value_counts > 10].index

df_filtered = df[df['title'].isin(filter_cond)]

In [71]:
len(df_filtered)

646844

In [72]:
df_filtered['title'].unique().shape

(3981,)

In [73]:
df_filtered['user_id'].unique().shape

(158868,)

In [74]:
value_counts = df_filtered['user_id'].value_counts()

filter_cond = value_counts[value_counts > 7].index

df_filtered = df_filtered[df_filtered['user_id'].isin(filter_cond)]

In [75]:
len(df_filtered)

313242

In [76]:
df_filtered['user_id'].unique().shape

(20879,)

In [77]:
df_filtered['title'].unique().shape

(3976,)

In [67]:
df_filtered.to_csv('../data/user_record_filtered.csv', index=False)

In [78]:
df = pd.read_csv('../data/user_record_filtered.csv')

In [80]:
df = df.drop_duplicates(subset=['title', 'user_id'])

In [81]:
len(df)

214210

In [82]:
df.to_csv('../data/user_record_filtered.csv', index=False)

In [88]:
df = pd.read_csv('../data/user_record_filtered.csv')

In [89]:
num_splits = 5
split_size = len(df) // num_splits
split_dfs = [df.iloc[i*split_size:(i+1)*split_size] for i in range(num_splits)]

for i, split_df in enumerate(split_dfs):
    split_df.to_csv(f'../data/social_data_split/user_record_filtered_{i+1}.csv', index=False)